.projects {
  position: relative;
  background: #a8ff78;
  background: -webkit-linear-gradient(to top, #78ffd6, #a8ff78);
  background: linear-gradient(to top, #78ffd6, #a8ff78);
  padding-bottom: 300px;
}
  
.projects .container {
  width: 90%;
  text-align: center;
  margin: auto;
  padding-top: 275px;
}
  
.projects .container h3 {
  font-size: 30px;
  margin-bottom: 40px;
}
  
.projects .container h4 {
  font-size: 15px;
  margin-bottom: 100px;
}

.projects .container h5 {
  margin-bottom: 10px;
  color: var(--primary);
}
  
.projects .content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.projects .content img {
  width: 350px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  
@media (min-width: 800px) {
  .projects .container {
    padding-top: 325px;
  }

  .projects .container h3 {
    font-size: 40px;
  }
  
  .projects .container h4 {
    font-size: 20px;
  }

  .projects .container h5 {
    font-size: 20px;
  }
}
