.footer {
  width: 100vw;
  position: absolute;
  background-color: #303030;
  color: var(--white);
}

.footer .container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
}

.footer .container div:nth-child(1) {
  color: var(--lightgray);
  font-size: 22px;
}

.footer div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 22px;
}

.footer div:nth-child(2) h5 {
  font-size: 25px;
  margin-bottom: 10px;
}

.footer div:nth-child(2) li {
  transition: transform 0.2s;
}

.footer div:nth-child(2) li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer div:nth-child(3) h4 {
  font-size: 35px;
}

.footer div:nth-child(3) p {
  color: var(--lightgray);
  font-size: 20px;
}

.footer div:nth-child(3) input {
  width: 160px;
  height: 40px;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 5px;
}

.footer div:nth-child(3) button {
  height: 30px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  transition: transform 0.2s;
  margin-left: 20px;
}

.footer div:nth-child(3) button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
    text-align: start;
    gap: 75px;
    margin-top: 50px;
  }

  .footer div:nth-child(2) li {
    margin-bottom: 10px;
  }

  .footer div:nth-child(3) input {
    width: 250px;
    height: 55px;
    font-size: 25px;
  }
  
  .footer div:nth-child(3) button {
    height: 50px;
    font-size: 20px;
  }
}
