.header {
  width: 100vw;
  min-height: calc(100vh + 250px);
  position: relative;
  background: url("../../assets/images/backgrounds/space-background.jpg") center center;
  background-size: cover;
}

.header .container {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  margin: auto;
}

.header h1 {
  color: var(--white);
  font-size: 40px;
}

.header h2 {
  color: var(--lightgray);
  font-size: 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.header button {
  background-color: var(--primary);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px 25px;
  transition: transform 0.2s;
}

.header button:hover {
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  cursor: pointer;
}

.header button:active {
  transform: scale(0.95);
}

@media (min-width: 800px) {
  .header h1 {
    font-size: 55px;
  }

  .header h2 {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .header h1 {
    font-size: 65px;
  }

  .header h2 {
    font-size: 35px;
  }
}
