.header {
  height: calc(100vh + 300px);
  position: relative;
  background: url("../../assets/images/backgrounds/space-background.jpg") center center;
  background-size: cover;
}

.header .content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding-top: 125px;
  margin: auto;
}

.header h2 {
  color: var(--white);
  font-size: 40px;
}

.header h3 {
  color: var(--lightgray);
  font-size: 20px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.header button {
  background-color: var(--primary);
  border: none;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px 25px;
  transition: transform 0.2s;
}

.header button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.header button:active {
  transform: scale(0.95);
}

@media (min-width: 800px) {
  .header .content {
    padding-top: 150px;
  }

  .header h2 {
    font-size: 50px;
  }

  .header h3 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .header .content {
    padding-top: 225px;
  }

  .header h2 {
    font-size: 60px;
  }

  .header h3 {
    font-size: 40px;
  }
}
