.menu {
  transition: transform 0.2s;
  z-index: 3;
}

.menu:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu:active {
  transform: scale(0.9);
}

.menu.active svg:nth-child(1) {
  display: none;
}

.menu:not(.active) svg:nth-child(2) {
  display: none;
}


@media (min-width: 800px) {
  .menu {
    display: none;
  }
}
