.nav {
  --background: none;
  --color: #fff;
  --point-display: none;

  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);
  padding: 0 30px;
  z-index: 1;
}

.nav.active {
  --background: #fff;
  --color: #000;
  --point-display: block;
}

.nav-point {
  width: 100vw;
  height: 50px;
  display: var(--point-display);
  position: absolute;
  left: 0;
  bottom: -50px;
  background: url("./nav-point.svg") center bottom;
  background-size: cover;
}
