.projects2 {
  position: relative;
  background: #fc4a1a;
  background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);
  background: linear-gradient(to top, #f7b733, #fc4a1a);
  padding-bottom: 300px;
}

.projects2 .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-top: 200px;
  text-align: center;
}

.projects2 .content {
  display: flex;
  flex-direction: column;
}

.projects2 img {
  width: 300px;
  height: 300px;
}

.projects2 h3 {
  font-size: 35px;
}

.projects2 .stats {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
  
.projects2 .stats h4 {
  font-size: 40px;
}

.projects2 .stats p {
  margin: 0;
}

@media (min-width: 1200px) {
  .projects2 .container {
    flex-direction: row;
    text-align: start;
  }

  .projects2 img {
    width: 450px;
    height: 450px;
  }

  .projects2 .stats {
    flex-direction: row;
  }

  .projects2 .content {
    gap: 25px;
  }

  .projects2 .container h4 {
    font-size: 60px;
  }
  
  /* .projects .container h4 {
    font-size: 20px;
  }

  .projects .container h5 {
    font-size: 20px;
  } */
}
